<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
</head>
<body>
    <h1>OAuth2 Client</h1>
    <ul>
        <li><label>Public Resources</label>
            <ul>
                <li><a href="/client/public/messages">Public Message</a></li>
            </ul>
        </li>
        <li><label>Private Resources</label>
            <ul>
                <li><a href="/client/messages">Private Message</a></li>
                <li><a href="/client/access_token">Access Token</a></li>
                <li><a href="/client/me">Me</a></li>
            </ul>
        </li>
        <li><label>Other Actions</label>
            <ul>
                <li><a href="http://localhost:8081/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</body>
</html>